---
title: EDU-verifiering
ms.author: pebaum
author: pebaum
manager: mnirkhe
ms.audience: Admin
ms.topic: article
ROBOTS: NOINDEX, NOFOLLOW
localization_priority: Priority
ms.collection: Adm_O365
ms.custom:
- "1500009"
- "5578"
ms.openlocfilehash: 1889eb9b18f312da00196d575376960bc6b028fd
ms.sourcegitcommit: 9e44b852d18a2816acac0aacb78cb99b4c114368
ms.translationtype: MT
ms.contentlocale: sv-SE
ms.lasthandoff: 07/22/2020
ms.locfileid: "45205285"
---
# <a name="edu-verification"></a>EDU-verifiering

I de flesta fall behandlas akademiska ansökningar om behörighet inom 24-48 timmar. Vissa begäranden kan kräva mer grundlig granskning och kan ta upp till 10 arbetsdagar att bearbeta. När du är klar skickar vi ett e-postmeddelande med din skolas behörighetsstatus.

**Viktigt** Om du lämnade verifieringsguiden innan du går in i en domän kan du återuppta guiden för [akademisk verifiering](https://go.microsoft.com/fwlink/p/?linkid=2135255) när som helst under den kostnadsfria provperioden.

Om du vill kontrollera domänens status går du till [administrationscentret för Microsoft 365](https://go.microsoft.com/fwlink/p/?linkid=2024339). På startsidan bläddrar du längst ned och hittar **faktureringskortet.** **Faktureringskortet** anger verifieringsprocessens status (godkänd, väntande, avvisad eller lägga till din domän).

Om din begäran nekas läser du [Min skola är inte berättigad. Vad ska jag göra nu?](https://docs.microsoft.com/microsoft-365/commerce/subscriptions/verify-academic-eligibility#my-school-isnt-eligible-what-do-i-do-now)