---
title: EDU-verifikation
ms.author: pebaum
author: pebaum
manager: scotv
ms.audience: Admin
ms.topic: article
ms.service: o365-administration
ROBOTS: NOINDEX, NOFOLLOW
localization_priority: Priority
ms.collection: Adm_O365
ms.custom:
- "1500009"
- "5578"
ms.openlocfilehash: 870f175adc5ee31d32266a69af9acedb66899bc8
ms.sourcegitcommit: 8bc60ec34bc1e40685e3976576e04a2623f63a7c
ms.translationtype: MT
ms.contentlocale: sv-SE
ms.lasthandoff: 04/15/2021
ms.locfileid: "51814390"
---
# <a name="edu-verification"></a><span data-ttu-id="e4497-102">EDU-verifikation</span><span class="sxs-lookup"><span data-stu-id="e4497-102">EDU verification</span></span>

<span data-ttu-id="e4497-103">I de flesta fall behandlas begäranden om akademiskt berättigande inom 24–48 timmar.</span><span class="sxs-lookup"><span data-stu-id="e4497-103">In most cases, academic eligibility requests are processed within 24-48 hours.</span></span> <span data-ttu-id="e4497-104">Vissa begäranden kan kräva mer noggrann granskning och kan ta upp till 10 arbetsdagar att behandla.</span><span class="sxs-lookup"><span data-stu-id="e4497-104">Some requests may require more thorough review and can take up to 10 business days to process.</span></span> <span data-ttu-id="e4497-105">När behandlingen är klar skickar vi ett e-postmeddelande med din skolas berättigandestatus.</span><span class="sxs-lookup"><span data-stu-id="e4497-105">Once completed, we will send an email with your school’s eligibility status.</span></span>

<span data-ttu-id="e4497-106">**Viktigt** Om du har lämnat verifieringsguiden innan du anger en domän kan du [återuppta den akademiska verifieringsguiden](https://go.microsoft.com/fwlink/p/?linkid=2135255) när som helst under den kostnadsfria utvärderingsperioden.</span><span class="sxs-lookup"><span data-stu-id="e4497-106">**Important** If you exited the verification wizard before entering a domain, you can [resume the academic verification wizard](https://go.microsoft.com/fwlink/p/?linkid=2135255) at any time during your free trial.</span></span>

<span data-ttu-id="e4497-107">Om du vill kontrollera statusen för din domän går du till [Administrationscentret för Microsoft 365](https://go.microsoft.com/fwlink/p/?linkid=2024339).</span><span class="sxs-lookup"><span data-stu-id="e4497-107">If you would like to check the status of your domain, go to the [Microsoft 365 admin center](https://go.microsoft.com/fwlink/p/?linkid=2024339).</span></span> <span data-ttu-id="e4497-108">Skrolla längst ner på startsidan och hitta kortet för **fakturering**.</span><span class="sxs-lookup"><span data-stu-id="e4497-108">On the home page, scroll to the bottom and find the **Billing** card.</span></span> <span data-ttu-id="e4497-109">Kortet för **fakturerings** visar statusen för verifieringsprocessen (godkänd, väntande, avvisad eller lägg till din domän).</span><span class="sxs-lookup"><span data-stu-id="e4497-109">The **Billing** card indicates the status of the verification process (approved, pending, declined, or add your domain).</span></span>

<span data-ttu-id="e4497-110">Om din begäran avslås, läs [Min skola inte är berättigad. Vad gör jag nu?](https://docs.microsoft.com/microsoft-365/commerce/subscriptions/verify-academic-eligibility#my-school-isnt-eligible-what-do-i-do-now)</span><span class="sxs-lookup"><span data-stu-id="e4497-110">If your request is denied, see [My school isn’t eligible. What do I do now?](https://docs.microsoft.com/microsoft-365/commerce/subscriptions/verify-academic-eligibility#my-school-isnt-eligible-what-do-i-do-now)</span></span>