---
title: EDU-verifikation
ms.author: pebaum
author: pebaum
manager: scotv
ms.audience: Admin
ms.topic: article
ms.service: o365-administration
ROBOTS: NOINDEX, NOFOLLOW
localization_priority: Priority
ms.collection: Adm_O365
ms.custom:
- "1500009"
- "5578"
ms.openlocfilehash: 870f175adc5ee31d32266a69af9acedb66899bc8
ms.sourcegitcommit: 8bc60ec34bc1e40685e3976576e04a2623f63a7c
ms.translationtype: HT
ms.contentlocale: sv-SE
ms.lasthandoff: 04/15/2021
ms.locfileid: "51814390"
---
# <a name="edu-verification"></a>EDU-verifikation

I de flesta fall behandlas begäranden om akademiskt berättigande inom 24–48 timmar. Vissa begäranden kan kräva mer noggrann granskning och kan ta upp till 10 arbetsdagar att behandla. När behandlingen är klar skickar vi ett e-postmeddelande med din skolas berättigandestatus.

**Viktigt** Om du har lämnat verifieringsguiden innan du anger en domän kan du [återuppta den akademiska verifieringsguiden](https://go.microsoft.com/fwlink/p/?linkid=2135255) när som helst under den kostnadsfria utvärderingsperioden.

Om du vill kontrollera statusen för din domän går du till [Administrationscentret för Microsoft 365](https://go.microsoft.com/fwlink/p/?linkid=2024339). Skrolla längst ner på startsidan och hitta kortet för **fakturering**. Kortet för **fakturerings** visar statusen för verifieringsprocessen (godkänd, väntande, avvisad eller lägg till din domän).

Om din begäran avslås, läs [Min skola inte är berättigad. Vad gör jag nu?](https://docs.microsoft.com/microsoft-365/commerce/subscriptions/verify-academic-eligibility#my-school-isnt-eligible-what-do-i-do-now)