---
title: 8000038 BNPR underordnat konto kontroll
ms.author: daeite
author: daeite
manager: jackiesm
ms.date: 5/16/2018
ms.audience: ITPro
ms.topic: article
ROBOTS: NOINDEX, NOFOLLOW
localization_priority: Normal
ms.custom:
- "772"
- "788"
- "8000038"
ms.assetid: 9039e40c-62d4-4658-ab5b-2649ba738c40
ms.openlocfilehash: 035004602a439335380ec72ea65fd1bd70ebbf0d
ms.sourcegitcommit: 5fb7a4b28859690020efdea630d03e70cc0e6334
ms.translationtype: MT
ms.contentlocale: sv-SE
ms.lasthandoff: 06/28/2019
ms.locfileid: "35387075"
---
# <a name="date-of-birth-displayed-in-your-microsoft-account-is-incorrect"></a>Födelsedatum visas i ditt Microsoft-konto är felaktigt

Microsoft tar konto säkerhet allvar. Du kanske har nyligen uppmanats att ange medgivandenivå för ett barns Microsoft-konto. Om du behöver hjälp med föräldrarnas samtycke eller uppdatera födelsedatum på ett Microsoft-konto finns i [kontrollen ålder för föräldrarnas samtycke](https://go.microsoft.com/fwlink/p/?linkid=874364).
  
Läs mer om [föräldrarnas samtycke och Microsoft-konton för barn](https://go.microsoft.com/fwlink/p/?linkid=874365).
  