---
title: 8000038 GDPR-kontoverifiering för barn
ms.author: daeite
author: daeite
manager: jackiesm
ms.date: 04/21/2020
ms.audience: ITPro
ms.topic: article
ROBOTS: NOINDEX, NOFOLLOW
localization_priority: Normal
ms.custom:
- "772"
- "788"
- "8000038"
ms.assetid: 9039e40c-62d4-4658-ab5b-2649ba738c40
ms.openlocfilehash: 238d1440438bce2531f1a57f5592a204cf9c3cf3
ms.sourcegitcommit: 55eff703a17e500681d8fa6a87eb067019ade3cc
ms.translationtype: MT
ms.contentlocale: sv-SE
ms.lasthandoff: 04/22/2020
ms.locfileid: "43764998"
---
# <a name="date-of-birth-displayed-in-your-microsoft-account-is-incorrect"></a>Födelsedatumet som visas i ditt Microsoft-konto är felaktigt

Microsoft tar kontosäkerhet på största allvar. Du kan nyligen ha uppmanats att ge föräldrarnas medgivande för ett barns Microsoft-konto. Om du behöver hjälp med att ge föräldrarnas samtycke eller uppdatera födelsedatumet på ett Microsoft-konto läser du [Åldersverifiering för föräldrarnas samtycke](https://go.microsoft.com/fwlink/p/?linkid=874364).
  
Läs mer om [Föräldramedgivande och Microsoft-barnkonton](https://go.microsoft.com/fwlink/p/?linkid=874365).
  