---
title: 8000038 BNPR underordnat konto kontroll
ms.author: daeite
author: daeite
manager: jackiesm
ms.date: 5/16/2018
ms.audience: ITPro
ms.topic: article
ROBOTS: NOINDEX, NOFOLLOW
localization_priority: Normal
ms.custom:
- "772"
- "788"
- "8000038"
ms.assetid: 9039e40c-62d4-4658-ab5b-2649ba738c40
ms.openlocfilehash: 13e69ac917a08a338759269df5724c0528dd2eb0
ms.sourcegitcommit: 1d98db8acb9959aba3b5e308a567ade6b62da56c
ms.translationtype: MT
ms.contentlocale: sv-SE
ms.lasthandoff: 08/22/2019
ms.locfileid: "36524429"
---
# <a name="date-of-birth-displayed-in-your-microsoft-account-is-incorrect"></a>Födelsedatum visas i ditt Microsoft-konto är felaktigt

Microsoft tar konto säkerhet allvar. Du kanske har nyligen uppmanats att ange medgivandenivå för ett barns Microsoft-konto. Om du behöver hjälp med föräldrarnas samtycke eller uppdatera födelsedatum på ett Microsoft-konto finns i [kontrollen ålder för föräldrarnas samtycke](https://go.microsoft.com/fwlink/p/?linkid=874364).
  
Läs mer om [föräldrarnas samtycke och Microsoft-konton för barn](https://go.microsoft.com/fwlink/p/?linkid=874365).
  