---
title: Felsöka Publisher-verifiering
ms.author: v-smandalika
author: v-smandalika
manager: dansimp
ms.date: 01/15/2021
ms.audience: Admin
ms.topic: article
ms.service: o365-administration
ROBOTS: NOINDEX, NOFOLLOW
localization_priority: Priority
ms.collection: Adm_O365
ms.custom:
- "9004323"
- "7712"
ms.openlocfilehash: d4d0a78256a869ef4c1e19fe1ceb590824b10817
ms.sourcegitcommit: 6dc6f999e840c90694a246b90062950205679420
ms.translationtype: MT
ms.contentlocale: sv-SE
ms.lasthandoff: 01/15/2021
ms.locfileid: "49885373"
---
# <a name="issues-related-to-publisher-verification-for-developers"></a>Problem relaterade till Publisher-verifiering för utvecklare

**Rekommenderade steg** 

Så här löser du problem med verifiering av Publisher:

1. Granska kraven och andra krav för att säkerställa att de är uppfyllda.
2. Granska anvisningarna för att [Markera ett program som utgivare verifierat](https://docs.microsoft.com/azure/active-directory/develop/mark-app-as-publisher-verified) och kontrol lera att alla steg har utförts.
3. Granska listan med [vanliga problem](https://docs.microsoft.com/azure/active-directory/develop/troubleshoot-publisher-verification#common-issues) och följ de rekommenderade stegen om du har ett problem från en sådan lista.
4. Återskapa begäran genom att använda [Graph Explorer](https://docs.microsoft.com/azure/active-directory/develop/troubleshoot-publisher-verification#making-microsoft-graph-api-calls) för att samla in ytterligare information och utesluta eventuella problem i användar gränssnittet.

**Rekommenderade dokument**

- [Publisher-verifiering – översikt](https://docs.microsoft.com/azure/active-directory/develop/publisher-verification-overview) 
- [Markera appen som verifierad i Publisher](https://docs.microsoft.com/azure/active-directory/develop/mark-app-as-publisher-verified) 
- [Felsöka Publisher-verifiering](https://docs.microsoft.com/azure/active-directory/develop/troubleshoot-publisher-verification)

