---
title: Felsöka Publisher-verifiering
ms.author: v-smandalika
author: v-smandalika
manager: dansimp
ms.date: 01/15/2021
ms.audience: Admin
ms.topic: article
ms.service: o365-administration
ROBOTS: NOINDEX, NOFOLLOW
localization_priority: Priority
ms.collection: Adm_O365
ms.custom:
- "9004323"
- "7712"
ms.openlocfilehash: d4d0a78256a869ef4c1e19fe1ceb590824b10817
ms.sourcegitcommit: 6dc6f999e840c90694a246b90062950205679420
ms.translationtype: MT
ms.contentlocale: sv-SE
ms.lasthandoff: 01/15/2021
ms.locfileid: "49885373"
---
# <a name="issues-related-to-publisher-verification-for-developers"></a><span data-ttu-id="3d4e5-102">Problem relaterade till Publisher-verifiering för utvecklare</span><span class="sxs-lookup"><span data-stu-id="3d4e5-102">Issues related to Publisher Verification for developers</span></span>

<span data-ttu-id="3d4e5-103">**Rekommenderade steg**</span><span class="sxs-lookup"><span data-stu-id="3d4e5-103">**Recommended steps**</span></span> 

<span data-ttu-id="3d4e5-104">Så här löser du problem med verifiering av Publisher:</span><span class="sxs-lookup"><span data-stu-id="3d4e5-104">To resolve issues related to publisher verification, perform the below steps:</span></span>

1. <span data-ttu-id="3d4e5-105">Granska kraven och andra krav för att säkerställa att de är uppfyllda.</span><span class="sxs-lookup"><span data-stu-id="3d4e5-105">Review the prerequisites and other requirements to ensure they are all met.</span></span>
2. <span data-ttu-id="3d4e5-106">Granska anvisningarna för att [Markera ett program som utgivare verifierat](https://docs.microsoft.com/azure/active-directory/develop/mark-app-as-publisher-verified) och kontrol lera att alla steg har utförts.</span><span class="sxs-lookup"><span data-stu-id="3d4e5-106">Review the instructions to [mark an app as publisher verified](https://docs.microsoft.com/azure/active-directory/develop/mark-app-as-publisher-verified) and ensure all steps have been performed successfully.</span></span>
3. <span data-ttu-id="3d4e5-107">Granska listan med [vanliga problem](https://docs.microsoft.com/azure/active-directory/develop/troubleshoot-publisher-verification#common-issues) och följ de rekommenderade stegen om du har ett problem från en sådan lista.</span><span class="sxs-lookup"><span data-stu-id="3d4e5-107">Review the list of [common issues](https://docs.microsoft.com/azure/active-directory/develop/troubleshoot-publisher-verification#common-issues) and follow the recommended steps if you have an issue from such a list.</span></span>
4. <span data-ttu-id="3d4e5-108">Återskapa begäran genom att använda [Graph Explorer](https://docs.microsoft.com/azure/active-directory/develop/troubleshoot-publisher-verification#making-microsoft-graph-api-calls) för att samla in ytterligare information och utesluta eventuella problem i användar gränssnittet.</span><span class="sxs-lookup"><span data-stu-id="3d4e5-108">Reproduce the request using [Graph Explorer](https://docs.microsoft.com/azure/active-directory/develop/troubleshoot-publisher-verification#making-microsoft-graph-api-calls) to gather additional info and rule out any issues in the UI.</span></span>

<span data-ttu-id="3d4e5-109">**Rekommenderade dokument**</span><span class="sxs-lookup"><span data-stu-id="3d4e5-109">**Recommended documents**</span></span>

- [<span data-ttu-id="3d4e5-110">Publisher-verifiering – översikt</span><span class="sxs-lookup"><span data-stu-id="3d4e5-110">Publisher verification - overview</span></span>](https://docs.microsoft.com/azure/active-directory/develop/publisher-verification-overview) 
- [<span data-ttu-id="3d4e5-111">Markera appen som verifierad i Publisher</span><span class="sxs-lookup"><span data-stu-id="3d4e5-111">Mark your app as publisher verified</span></span>](https://docs.microsoft.com/azure/active-directory/develop/mark-app-as-publisher-verified) 
- [<span data-ttu-id="3d4e5-112">Felsöka Publisher-verifiering</span><span class="sxs-lookup"><span data-stu-id="3d4e5-112">Troubleshoot publisher verification</span></span>](https://docs.microsoft.com/azure/active-directory/develop/troubleshoot-publisher-verification)

